*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
body{
    background-color: black;
}

header.sticky{
    height: 65px; 
    background-color: rgb(255, 255, 255);
    
}
header{
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  padding-top: 20px;
 
    position: fixed;
    
    transition: 0.5s ease;
}
header.sticky #nav-items  a{
    
    color: black;
}
header.sticky #nav-items  a:hover{
    color: #185ADB;
}
 .brand-name{
    color: #000;
    font-weight: 800;
    letter-spacing: 1.8px;
    font-size: 25px;
    text-transform: uppercase;
    text-decoration: none;
    
}



header  .navigation-items a{
position: relative;
color: rgba(5, 22, 77, 0.712);
font-size: 20px;
font-weight: 550;
padding-top: 15px;
text-decoration: none;
margin-left: 30px;
transition: 0.3s ease;
letter-spacing: 1.8px;

} 
 header .navigation .navigation-items a::before{
    content: '';
    position: absolute;
    background: #000;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
} 

/* video carousel */
.home{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: rgb(43, 56, 243);
}
.home::before{
z-index: 777;
content: '';
position: absolute;
background: rgba(3, 96, 251, 0.3);
width: 100%;
height: 100%;
top: 0;
left: 0;
}
.home video{
    z-index: 000;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider-navigation{
    z-index: 888;
    position: relative;
   top: 280px;
   right: 68px;
    display: flex;
   margin-left: auto;
   margin-right: auto;
    transform: translate(80px);
    margin-bottom: 12px;

}
.slider-navigation .nav-btn
{
    width: 12px;
    height: 12px;
    background: rgb(0, 0, 0);
    border-radius: 50%;
    cursor: pointer;
   
    box-shadow: 0 0 2px rgba(225, 225, 225, 0.5);
translate: 0.3s ease;
}
.content{
    z-index: 888;
    position: relative;
    bottom: 70px;
}
.content h1{
    font-size: 50px;
    font-weight: 900;
    color: rgba(5, 22, 77, 0.534);
    
    
}
.inside-content{
    border-left: 5px solid rgba(5, 22, 77, 0.534) ;
  
    margin-top: 25px;
}
.inside-content p{
 font-size: 22px;
}
.slider-navigation .nav-btn.active{
    background:rgb(255, 255, 255);
}
.slider-navigation .nav-btn:not(:last-child){
    margin-right: 20px;
}
.slider-navigation .nav-btn:hover{
    transform: scale(1.2);
}
.video-slide{
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0.50%);
}
.video-slide.active{
    clip-path: circle(150% at 0.50%);
transition: 2s ease;
transition-property:clip-path ;}
/* --
-

/
/
/
/------form
/
/
---- */

#query{
    background-color: rgba(179, 179, 179, 0.239);
    
}

.form_control {
	margin-bottom: 10px;
	padding-bottom: 20px;
	position: relative;
}

.form_control label {
	display: inline-block;
	margin-bottom: 5px;
}

.form_control input {
	border: 2px solid #f0f0f0;
    background-color: rgb(255, 255, 255);
	border-radius: 4px;
	display: block;
	font-family: inherit;
	font-size: 14px;
	padding: 10px;
	width: 100%;
}

.form_control input:focus {
	outline: 0;
	border-color: #777;
}

.form_control.success input {
	border-color: #2ecc71;
}

.form_control.error input {
	border-color: #e74c3c;
}

.form_control i {
	visibility: hidden;
	position: absolute;
	top: 40px;
	right: 10px;
}

.form_control.success i.fa-check-circle {
	color: #2ecc71;
	visibility: visible;
}

.form_control.error i.fa-exclamation-circle {
	color: #e74c3c;
	visibility: visible;
}

.form_control small {
	color: #e74c3c;
	position: absolute;
	bottom: 0;
	left: 0;
	visibility: hidden;
}

.form_control.error small {
	visibility: visible;
}

.form button {
	background-color:rgba(0, 48, 207, 0.534);
	border: 2px solid rgba(0, 48, 207, 0.534);
	border-radius: 4px;
	color: #fff;
	display: block;
	font-family: inherit;
	font-size: 16px;
	padding: 10px;
	margin-top: 20px;
	width: 100%;
}

/* 
/
/
//
cards
/
/
/
/
/ */

#services{
    background-color: whitesmoke;
}
.card-containr{
    position: relative;
}
.cardsi{
    position: relative;
    overflow: hidden;
    width: 100%;
   min-height: 350px;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin-bottom: 20px;
}
.cards-image .fa-plane{
    color: rgba(28, 63, 216, 0.787);
    
    padding: 15px;
    border-radius: 50%;
 
}
.card-1 .cardsi:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(20, 20, 219, 0.856);
    clip-path: polygon(50% 100% ,100% 60% , 100% 100%, 100% 100% );
    
    transition: 0.5s ease-in-out;
}
.card-1 .cardsi:hover::before{
    clip-path: polygon(10% 100% ,100% 20% , 100% 100%, 100% 100%);
}
.cards-image{
    position: absolute;
    top: 30%;
    transform: translateY(-30%);
    transform: translateX(40%);
    z-index: 10000;
    width: 100%;
    transition: 0.5s ease-in-out;
    margin-top: 15px;
}
.cardsi:hover .cards-image{
    top: 0%;
    transform: translateY(10%);
    transform: translateX(40%);
}
.cards-content{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 10;
}
.card-content-head h2{
    font-weight: 700;
    color: rgba(125, 125, 255, 0.692);
}
.card-content-in{
    visibility: hidden;
    transition: 1s ease-in-out;
    font-size: 10px;
    margin: 20px 10px;
}
.card-icons{
    visibility: hidden;
    transition: 1s ease-in-out;
}
.card-icons i{
    font-size: 25px;
    margin: 8px;
 
}
.cardsi:hover .card-content-in{
    visibility: visible;
}
.cardsi:hover .card-icons{
    visibility: visible;
}
.cardsi:hover .cards-content{
    height: 250px;
}
.cards-image i{
    size: 55px;
}
.cards-content button{
    visibility: hidden;
    border-radius: 5px;
    border: none;
    background: rgba(28, 63, 216, 0);
    color: rgb(255, 255, 255);
    width: 40%;
    padding: 5px;
    margin-top: 15px;
    
    
}
.cardsi:hover .cards-content button {
    visibility: visible;
}




/* media queries */
@media (max-width:1041px) {
    .slider-navigation{
        top: 380px;
    }
    
    .navigations{
     
       display: none;}
    .navigations.active{
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(18, 31, 151, 0.5);
        color: white;
     }
    .navigation-items a{
        color: rgb(42, 41, 41);
        font-size: 1.2em;
        margin: 2px;
    }
    header .navigations.active .navigation-items{
        background: white;
        width: 80%;
        max-width: 600px;
        margin: 20px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        box-shadow:  0 5px 25px rgb(1 1 1 /20%);
    }
    .menu-btn{
        z-index: 100;
        visibility: visible;
        background: url(img/bar.png)no-repeat;
        background-size: 30px;
        background-position: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: 0.3s ease;
    }
    .menu-btn.active{
        z-index: 999;
        background: url(img/cancel.png);
        background-size: 25px;
        background-position:center ;
        transition: 00.3s ease;
    }
}
@media (max-width:549px){
    .slider-navigation{
        top: 350px;
    } 
    .content h1{
        font-size: 30px;
       
        
    }
    .inside-content{
        margin-top: 35px;
    }
    .inside-content p{
        font-size: 15px;
    }
}



